* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: radial-gradient(circle, rgba(2,4,18,1) 0%, rgba(5,17,36,1) 100%);
}

form, div {
  width: 40%;
  min-width: 350px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  margin: 100px auto;
  padding: 20px;
}

h1, p {
  text-align: center;
  margin: 10px;
}